ody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .cv-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .cv-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cv-header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #333;
  }
  
  .cv-header h3 {
    margin: 5px 0;
    font-size: 1.2rem;
    color: #666;
  }
  
  .cv-header p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #555;
  }
  
  .cv-header .logo {
    width: 1em; /* Adjust the size to match the text size */
    height: 1em; /* Maintain aspect ratio */
    vertical-align: middle; /* Align the icon with the text */
  }
  
  .cv-section {
    margin-bottom: 20px;
  }
  
  .cv-section h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
  }
  
  .cv-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cv-section li {
    margin-bottom: 10px;
  }
  
  .cv-section h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #555;
  }
  
  .cv-section p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #555;
  }
  
  ul ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  ul ul li {
    font-size: 0.9rem;
  }