/* use !important to override (prioritise) class assignment */ 

/* .logo has a collision w/ Bootstrap class */


.btn-success { /* override Bootstrap btn-success */
  background-color: #21aa6a;
  border-color: #21aa6a;
}

.title {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: clamp(1.5em, 10vw, 100px)
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-inline: 3px; /* px */
  padding-block: 2px; /* py */
  
  
  border: 2px solid #d1d1d1;
  border-radius: 0.375rem;
  background-color: white;
}

input:focus-visible, select:focus-visible {
  border: 2px solid #0284C7;
  border-radius: 0.375rem;
  outline: none;
}

label {
  font-size: 1.2em;
  margin-right: 10px
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 5px; /* spacing b/w social media fields */
}

.social img {
  width: 4em; /* Adjust the size to match the text size */
  height: 2em; /* Maintain aspect ratio */
}

@media (min-width: 768px) {
  .social {
    display: inline-flex; /* for larger screens */
  }
}

span { /* Prepend in casu */
  padding-inline: 2px; /* px */
  padding-block: 2px; /* py */

  border-radius: 0.375rem;
  color: #777777;
  background-color: #EEEEEE;

  display: inline-flex;
  align-items: center;

  border-start-start-radius: 0.375rem;
  border-end-start-radius: 0.375rem;
}

select {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-inline: 3px; /* px */
  padding-block: 2px; /* py */
  
  
  border: 2px solid #d1d1d1;
  border-radius: 0.375rem;
  background-color: white;
}

.btn {
  margin-block: 1em;
}

.upload {
  color: white;
  background-color: teal;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;

}

.uploadIcon {
  margin-inline: auto;
  width: calc(var(--spacing) * 12); 
  height: calc(var(--spacing) * 12);
}

.accordion-collapse {
  visibility: visible !important;
}


/* 
Bootstrap class 

Layout & Containers:
container, container-fluid, row, col, grid
d-flex, d-block, d-inline, d-none
align-items-*, justify-content-*, text-center, text-start

Typography & Colors:
lead, small, fw-bold, fw-light
bg-light, bg-dark, bg-primary, bg-success
border, border-0, rounded, shadow, shadow-lg

Forms & Buttons:
btn, btn-primary, btn-secondary, btn-danger
form-control, form-group, input-group, dropdown
nav, navbar, navbar-brand, logo

Components:
card, card-body, card-title
modal, modal-content, modal-header, modal-footer
alert, badge, breadcrumb
progress, carousel, pagination



Tailwind class

Layout & Spacing:
container
items-*, justify-*, place-*
order-*, col-span-*, row-span-*

Visibility & Positioning:
absolute, relative, fixed, sticky
top-*, bottom-*, left-*, right-*
z-*

Component Conflicts:
btn, badge, card, alert, dropdown
modal, nav, logo, progress, tooltip
*/